@import '../styles/_var.scss';
$height: 42px;
$font-size: 16px;
$color: #606266;
$border-color: #dcdfe6;
$background: #ecf5ff;
$active-color: #3a8ee6;

.vee-button {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    height: $height;
    font-size: $font-size;
    cursor: pointer;
    line-height: 1;
    padding: 12px 20px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    user-select: none;

    &:hover {
        border-color: $border-color;
        background-color: $background;
    }

    &:focus, &:active {
        color: $active-color;
        border: 1px solid $active-color;
        background-color: $background;
        outline: none;
    }

    @each $type, $color in (primary: $primary, success: $success, info: $info, warning: $warning, danger: $danger) {
        &-#{$type} {
            background: #{$color};
            border: 1px solid #{$color};
            color: #fff;
            fill: #fff;
        }
    }

    @each $type, $color in (primary: $primary-hover, success: $success-hover, info: $info-hover, warning: $warning-hover, danger: $danger-hover) {
        &-#{$type}:hover {
            background: #{$color};
            border: 1px solid #{$color};
            color: #fff;
        }
    }

    @each $type, $color in (primary: $primary-active, success: $success-active, info: $info-active, warning: $warning-active, danger: $danger-active) {
        &-#{$type}:active, &-#{$type}:focus {
            background: #{$color};
            border: 1px solid #{$color};
            color: #fff;
        }
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .icon + span {
        margin-left: 4px;
    }

    &-left {
        i {order:1}
        span {order:2}
    }

    &-right {
        span {order:1}
        i {order:2}
        .icon + span {
            margin-left: 0;
            margin-right: 4px;
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }
}