@import '../styles/_var.scss';
$border-color: #dcdfe6;

.vee-input {
    display: inline-flex;
    position: relative;
    
    input {
        padding: 8px;
        width: 150px;
        height: 42px;
        border-radius: $border-radius;
        border: 1px solid $border-color;

        &:focus {
            border: 1px solid $primary;
            outline: none;
            box-shadow: inset -1px 0px 2px $primary, inset 1px 1px 1px $primary;
        }

        &[disabled] {
            cursor: not-allowed;
            background: #eee;
        }
    }
}

.vee-input-suffix-icon {
    input {
        padding-right: 25px;
    }
    .vee-icon {
        right: 8px;
        top: 13px;
        position: absolute;
        cursor: pointer;
        width: 14.5px;
        height: 14.5px;
    }
    
}

.vee-input-prefix-icon {
    input {
        padding-left: 25px;
    }
    .vee-icon {
        left: 8px;
        top: 13px;
        position: absolute;
        cursor: pointer;
        width: 14.5px;
        height: 14.5px;
    }
    
}