@import '@/styles/_var.scss';
.vee-date-picker {
    display: inline-block;

    &-box {
        position: absolute;
        z-index: 10;
        user-select: none;
        width: 280px;
        background: #fff;
        box-shadow: 1px 1px 2px $primary, -1px -1px 2px $primary;
    }

    &-header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-content {
        
        .cell {
            display: inline-block;
            text-align: center;
            font-weight: bold;
        }

        .cell-date {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }

        .cell-year,
        .cell-month {
            width: 70px;
            height: 70px;
            line-height: 70px;
        }

        .cell-date:hover:not(.isSelect):not(.isToday),
        .cell-year:hover:not(.isSelect):not(.isToday),
        .cell-month:hover:not(.isSelect):not(.isToday) {
            color: $primary;
        }

        .isNotCurrentMonth {
            color: $color-light;
        }

        .isToday {
            color: $primary;
            background-color: #fff;
        }

        .yearHide {
            display: none;
        }

        .isSelect {
            background-color: $primary;
            border-radius: 50%;
            color: #fff;
        }
    }
}